Repository mkdocs-publisher/mkdocs-publisher: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, format, sort-imports, lint-python, type-check

lint-yaml:
  name: lint YAML files
  description: Format and check YAML files.
  entry: poetry run yamllint
  language: system

format:
  name: format Python code
  description: Pre-format python code.
  entry: poetry run black --quiet
  language: system

sort-imports:
  name: sort Python imports
  description: Sort python imports.
  entry: poetry run isort --quiet
  language: system

lint-python:
  name: lint Python
  description: Lint python code.
  entry: poetry run ruff check
  language: system

type-check:
  name: type check Python annotations
  description: Pyright type annotation checking.
  entry: poetry run pyright
  language: system

Bump version
  package.json
  poetry.lock
  pyproject.toml
Due: none

Bump to v1.4.4 (#109)
  package.json
  poetry.lock
  pyproject.toml
Due: none

Check for returncode when locating cmd
  mkdocs_publisher/minifier/minifiers.py
  tests/conftest.py
  tests/minifier/minifiers_test.py
Due: format, sort-imports, lint-python, type-check

Updated tests
  tests/conftest.py
  tests/minifier/minifiers_test.py
Due: format, sort-imports, lint-python, type-check

Small changes
  mkdocs_publisher/_shared/file_utils.py
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

undo changes
  tests/conftest.py
  tests/minifier/minifiers_test.py
Due: format, sort-imports, lint-python, type-check

Add: Check minifier cmd returncode (#110)
  mkdocs_publisher/minifier/minifiers.py
Due: format, sort-imports, lint-python, type-check

Fix: extra attributes were removed in wiki links
  README.md
  cov.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/obsidian/backlinks.py
  package.json
  pyproject.toml
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Fix: extra attributes were removed in wiki links (#112)
  README.md
  cov.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/obsidian/backlinks.py
  package.json
  pyproject.toml
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Fix: no tags/categories displays as undefined (#114)
  mkdocs_publisher/blog/parsers.py
  package-lock.json
  package.json
  pyproject.toml
Due: format, sort-imports, lint-python, type-check

Fix: no tags/categories displays as undefined (#114) (#115)
  mkdocs_publisher/blog/parsers.py
  package-lock.json
  package.json
  pyproject.toml
Due: format, sort-imports, lint-python, type-check

Fix: log level lower case support (#116) and missing logger (#117)
  cov.json
  mkdocs_publisher/debugger/config.py
  mkdocs_publisher/debugger/plugin.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/meta/conftest.py
  tests/meta/meta_files_test.py
Due: format, sort-imports, lint-python, type-check

Fix: wrong log level filtering in console
  mkdocs_publisher/debugger/plugin.py
Due: format, sort-imports, lint-python, type-check

Fix: console and file loggers with different log levels
  mkdocs_publisher/debugger/loggers.py
  mkdocs_publisher/debugger/plugin.py
Due: format, sort-imports, lint-python, type-check

Comment: added todo in loggers.py
  mkdocs_publisher/debugger/loggers.py
Due: format, sort-imports, lint-python, type-check

v1.4.7 (#118)
  cov.json
  mkdocs_publisher/debugger/config.py
  mkdocs_publisher/debugger/loggers.py
  mkdocs_publisher/debugger/plugin.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/meta/conftest.py
  tests/meta/meta_files_test.py
Due: format, sort-imports, lint-python, type-check

Feat: part of new blog engine, debugger from v1.4.7
  cov.json
  mkdocs_publisher/_extra/assets/templates/blog-posts.html
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/_shared/publisher_utils.py
  mkdocs_publisher/_shared/templates.py
  mkdocs_publisher/blog/blog_files.py
  mkdocs_publisher/blog/config.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/debugger/loggers.py
  mkdocs_publisher/debugger/plugin.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/obsidian/backlinks.py
  mkdocs_publisher/obsidian/md_links.py
  pyproject.toml
  tests/meta/meta_files_test.py
Due: format, sort-imports, lint-python, type-check

Add: Support for uv. Remove: Support for poetry.
  .github/workflows/pull-request.yaml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: lint-yaml

Add: replace poetry with uv (#119)
  .github/workflows/pull-request.yaml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: lint-yaml

Fix: change uv and python install in workflow
  .github/workflows/pull-request.yaml
  README.md
Due: lint-yaml

Fix: workflow install dependencies
  .github/workflows/pull-request.yaml
  pyproject.toml
Due: lint-yaml

Fix: typo in workflow
  .github/workflows/pull-request.yaml
Due: lint-yaml

Fix: uv sync workflow
  .github/workflows/pull-request.yaml
Due: lint-yaml

Fix: uv sync
  .github/workflows/pull-request.yaml
Due: lint-yaml

Fix: workflow sync
  .github/workflows/pull-request.yaml
  pyproject.toml
Due: lint-yaml

Fix: pre-commit
  .github/workflows/pull-request.yaml
  .pre-commit-config.yaml
  cov.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/_shared/urls.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/parsers.py
  mkdocs_publisher/debugger/loggers.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/social/plugin.py
  tests/_shared/links_test.py
  tests/obsidian/md_links_test.py
  uv.lock
Due: lint-yaml, format, sort-imports, lint-python, type-check

Fix: no project install
  .github/workflows/pull-request.yaml
Due: lint-yaml

Fix: project version bump
  .github/workflows/pull-request.yaml
  package-lock.json
  package.json
  pyproject.toml
Due: lint-yaml

Add: testing ty for type checking
  cov.json
  pyproject.toml
  uv.lock
Due: none

Fix: project dependencies
  cov.json
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: none

Fix: release workflow test
  .github/workflows/release.yaml
Due: lint-yaml

Fix: whitespaces
  .github/workflows/release.yaml
Due: lint-yaml

v1.4.8 (#120) - migration to uv + bump dependencies versions
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  cov.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/_shared/urls.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/parsers.py
  mkdocs_publisher/debugger/loggers.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/social/plugin.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/_shared/links_test.py
  tests/obsidian/md_links_test.py
  uv.lock
Due: lint-yaml, format, sort-imports, lint-python, type-check

Add: creating a tag in release.yaml
  .github/workflows/release.yaml
Due: lint-yaml

Add: tag creation in release.yaml
  .github/workflows/release.yaml
Due: lint-yaml

Add: testpypi index
  pyproject.toml
Due: none

Add: test pypi
  .github/workflows/release.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yml|yaml)$
  format: any of: \.py$
  sort-imports: any of: \.py$
  lint-python: any of: \.py$
  type-check: any of: \.py$
