Repository mkdocs-publisher/mkdocs-publisher: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, format, sort-imports, lint-python, type-check

lint-yaml:
  name: lint YAML files
  description: Format and check YAML files.
  entry: poetry run yamllint
  language: system

format:
  name: format Python code
  description: Pre-format python code.
  entry: poetry run black --quiet
  language: system

sort-imports:
  name: sort Python imports
  description: Sort python imports.
  entry: poetry run isort --quiet
  language: system

lint-python:
  name: lint Python
  description: Lint python code.
  entry: poetry run ruff check
  language: system

type-check:
  name: type check Python annotations
  description: Pyright type annotation checking.
  entry: poetry run pyright
  language: system

Small cleanup
  .gitignore
  docs_template/README.md
  docs_template/markdown_docs/README.md
  docs_template/mkdocs.yml
  docs_template/package-lock.json
  docs_template/package.json
  docs_template/poetry.lock
  docs_template/poetry.toml
  docs_template/pyproject.toml
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/06_blog/v130-overview.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
Due: lint-yaml

Update of shields.io badges
  README.md
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/README.md
Due: none

Add PR checks, badges, unittests
  .github/workflows/deploy-pages.yml
  .github/workflows/pull-request.yaml
  README.md
  cov.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
  mkdocs_publisher_docs/07_dev/other/02_backlog.md
  mkdocs_publisher_docs/README.md
  pyproject.toml
  tests/_shared/links_test.py
  tests/_shared/mkdocs_utils_test.py
  tests/_shared/resources_test.py
  tests/_shared/urls_test.py
  tests/meta/meta_files_test.py
  tests/obsidian/md_links_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Add jobs names
  .github/workflows/pull-request.yaml
Due: lint-yaml

Workflows update
  .github/workflows/deploy-pages.yml
  .github/workflows/pull-request.yaml
Due: lint-yaml

Workflows update v2
  .github/workflows/deploy-pages.yml
  .github/workflows/pull-request.yaml
Due: lint-yaml

Fail-fast disabled
  .github/workflows/pull-request.yaml
Due: lint-yaml

Small workflow update
  .github/workflows/pull-request.yaml
Due: lint-yaml

Workflow versions update
  .github/workflows/pull-request.yaml
Due: lint-yaml

Fix for pre-commit tests
  .github/workflows/pull-request.yaml
Due: lint-yaml

Remove Python v3.13 and update coverage from pre-commit
  .github/workflows/pull-request.yaml
  pyproject.toml
Due: lint-yaml

Cache fix
  .github/workflows/pull-request.yaml
Due: lint-yaml

Add build workflow
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
Due: lint-yaml

Add PR trigger
  .github/workflows/release.yaml
Due: lint-yaml

Rename workflow
  .github/workflows/release.yaml
Due: lint-yaml

Update upload artifacts v4
  .github/workflows/deploy-pages.yml
  .github/workflows/release.yaml
Due: lint-yaml

Add pypi and local release creation
  .github/workflows/release.yaml
Due: lint-yaml

Add folder note plugin to Obsidian
  .github/workflows/release.yaml
  mkdocs_publisher_docs/.obsidian/community-plugins.json
  mkdocs_publisher_docs/.obsidian/plugins/editing-toolbar/main.js
  mkdocs_publisher_docs/.obsidian/plugins/editing-toolbar/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/editing-toolbar/styles.css
  mkdocs_publisher_docs/.obsidian/plugins/folder-notes/data.json
  mkdocs_publisher_docs/.obsidian/plugins/folder-notes/main.js
  mkdocs_publisher_docs/.obsidian/plugins/folder-notes/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/folder-notes/styles.css
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/main.js
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/surfing/main.js
  mkdocs_publisher_docs/.obsidian/plugins/surfing/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/main.js
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/manifest.json
  mkdocs_publisher_docs/06_blog/v130-overview.md
  mkdocs_publisher_docs/07_dev/02_development.md
  mkdocs_publisher_docs/07_dev/03_versioning.md
  mkdocs_publisher_docs/07_dev/README.md
  mkdocs_publisher_docs/07_dev/other/01_credits.md
  mkdocs_publisher_docs/07_dev/other/README.md
Due: lint-yaml

Blog post about v1.3.0
  mkdocs_publisher_docs/.obsidian/plugins/folder-notes/data.json
  mkdocs_publisher_docs/06_blog/v130-overview.md
Due: none

Badges update
  README.md
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/07_dev/other/01_credits.md
  mkdocs_publisher_docs/README.md
Due: none

Fix for workflows and libs update
  .github/workflows/pull-request.yaml
  poetry.lock
  pyproject.toml
Due: lint-yaml

Badges update (#70)
  .github/workflows/pull-request.yaml
  README.md
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/07_dev/other/01_credits.md
  mkdocs_publisher_docs/README.md
  poetry.lock
  pyproject.toml
Due: lint-yaml

Meta plugin fixes
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  cov.json
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/_shared/html_modifiers.py
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/obsidian/md_links.py
  mkdocs_publisher_docs/03_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/06_blog/v100-obsidian.md
  mkdocs_publisher_docs/06_blog/v130-overview.md
  mkdocs_publisher_docs/06_blog/v131.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
  mkdocs_publisher_docs/07_dev/README.md
  poetry.lock
  pyproject.toml
  tests/_shared/links_test.py
  tests/meta/meta_files_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

PR workflow fix
  .github/workflows/pull-request.yaml
Due: lint-yaml

v1.3.1 (#71)
  .github/workflows/release.yaml
  cov.json
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/_shared/html_modifiers.py
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/obsidian/md_links.py
  mkdocs_publisher_docs/03_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/06_blog/v100-obsidian.md
  mkdocs_publisher_docs/06_blog/v130-overview.md
  mkdocs_publisher_docs/06_blog/v131.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
  mkdocs_publisher_docs/07_dev/README.md
  poetry.lock
  pyproject.toml
  tests/_shared/links_test.py
  tests/meta/meta_files_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Project version update
  .github/workflows/pull-request.yaml
  package.json
  pyproject.toml
Due: lint-yaml

Worflow fix
  .github/workflows/pull-request.yaml
Due: lint-yaml

Worflow fix v2
  .github/workflows/pull-request.yaml
Due: lint-yaml

v1.3.1 project version update (#72)
  .github/workflows/pull-request.yaml
  package.json
  pyproject.toml
Due: lint-yaml

Add support for redirections and links to meta plugin
  cov.json
  mkdocs_publisher/_extra/assets/templates/redirect.html
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/_shared/resources.py
  mkdocs_publisher/_shared/templates.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/blog/structures.py
  mkdocs_publisher/debugger/plugin.py
  mkdocs_publisher/meta/config.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/minifier/minifiers.py
  mkdocs_publisher/obsidian/backlinks.py
  mkdocs_publisher/obsidian/md_links.py
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher/social/plugin.py
  mkdocs_publisher_docs/06_blog/v131.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
  tests/_shared/resources_test.py
  tests/_shared/templates_test.py
  tests/meta/conftest.py
  tests/meta/meta_files_test.py
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Add all unittest for meta_files.py
  cov.json
  mkdocs_publisher/_shared/html_modifiers.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher_docs/05_how-to-publish/README.md
  mkdocs_publisher_docs/05_how-to/01_first_steps.md
  mkdocs_publisher_docs/05_how-to/README.md
  overrides/assets/javascripts/mathjax.js
  tests/meta/meta_files_test.py
Due: format, sort-imports, lint-python, type-check

Add first unittest for meta_nav.py
  cov.json
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/meta/plugin.py
  tests/meta/conftest.py
  tests/meta/meta_files_test.py
  tests/meta/meta_nav_test.py
Due: format, sort-imports, lint-python, type-check

Small updates
  mkdocs_publisher/_extra/assets/templates/backlinks.html
  mkdocs_publisher_docs/.obsidian/core-plugins.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/03_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
  tests/_shared/templates_test.py
Due: format, sort-imports, lint-python, type-check

Dependencies update
  README.md
  cov.json
  mkdocs_publisher_docs/.obsidian/core-plugins.json
  mkdocs_publisher_docs/.obsidian/plugins/editing-toolbar/main.js
  mkdocs_publisher_docs/.obsidian/plugins/editing-toolbar/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/folder-notes/main.js
  mkdocs_publisher_docs/.obsidian/plugins/folder-notes/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/main.js
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/surfing/main.js
  mkdocs_publisher_docs/.obsidian/plugins/surfing/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/surfing/styles.css
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/main.js
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/manifest.json
  mkdocs_publisher_docs/.obsidian/workspaces.json
  mkdocs_publisher_docs/README.md
  poetry.lock
  pyproject.toml
Due: none

Fix for anchor link part (space into -)
  cov.json
  mkdocs.yml
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher_docs/03_setup/01_installation.md
  mkdocs_publisher_docs/03_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/03_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/03_setup/03_seo_and_sharing/01_setting-up-social-cards.md
  mkdocs_publisher_docs/03_setup/99_development/01_setting-up-debugger.md
  poetry.lock
  pyproject.toml
Due: lint-yaml, format, sort-imports, lint-python, type-check

test_relative_path_finder_multiple_file_found fixed
  tests/_shared/links_test.py
Due: format, sort-imports, lint-python, type-check

Path conditions:
  lint-yaml: any of: \.(yml|yaml)$
  format: any of: \.py$
  sort-imports: any of: \.py$
  lint-python: any of: \.py$
  type-check: any of: \.py$
