Repository mkdocs-publisher/mkdocs-publisher: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, format, lint-python, sort-imports, type-check

.pre-commit-config.yaml:

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: detect-private-key
      - id: no-commit-to-branch

  - repo: local
    hooks:
      - id: lint-yaml
        name: lint YAML files
        description: Format and check YAML files.
        entry: poetry run yamllint .
        language: system
        files: .yml|.yaml$

      - id: format
        name: format Python code
        description: Pre-format python code.
        entry: poetry run black
        language: system
        types:
          - python

      - id: lint-python
        name: lint Python
        description: Lint python code.
        entry: poetry run flake8
        language: system
        types:
          - python

      - id: sort-imports
        name: sort Python imports
        description: Sort python imports.
        entry: poetry run isort
        language: system
        types:
          - python

      - id: type-check
        name: type check Python annotations
        description: Pyright type annotation checking.
        entry: poetry run pyright
        language: system
        types:
          - python

Add: auto-nav add title read from meta + documentation + small fixes
  README.md
  docs/docs/02_setup/03_setting-up-a-blog.md
  docs/docs/02_setup/04_setting-up-a-minifier.md
  docs/docs/03_how-to-publish/README.md
  docs/docs/04_blog/v010-initial-release.md
  docs/docs/04_blog/v020.md
  docs/docs/04_blog/v030.md
  docs/docs/05_dev/02_todo.md
  docs/docs/05_dev/09_changelog.md
  docs/mkdocs.yml
  docs/site/404.html
  docs/site/assets/stylesheets/blog.min.css
  docs/site/blog/archive/2023/index.html
  docs/site/blog/tags/v0.1.0/index.html
  docs/site/blog/tags/v0.2.0/index.html
  docs/site/blog/tags/v0.3.0/index.html
  docs/site/blog/v020/index.html
  docs/site/blog/v030/index.html
  docs/site/changelog/index.html
  docs/site/dev/changelog/index.html
  docs/site/dev/todo/index.html
  docs/site/home/index.html
  docs/site/how-to-publish/first_steps/index.html
  docs/site/index-0/index.html
  docs/site/search/search_index.json
  docs/site/setup/installation/index.html
  docs/site/setup/setting-up-a-blog/index.html
  docs/site/setup/setting-up-auto-nav/index.html
  docs/site/setup/setting-up-minifier/index.html
  docs/site/sitemap.xml
  docs/site/sitemap.xml.gz
  mkdocs_publisher/_extra/assets/stylesheets/blog.min.css
  mkdocs_publisher/_extra/assets/templates/posts-list.html
  mkdocs_publisher/auto_nav/plugin.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher/minifier/minifiers.py
Due: lint-yaml, format, lint-python, sort-imports, type-check

Del: .obisidian files
  .obsidian/app.json
  .obsidian/appearance.json
  .obsidian/community-plugins.json
  .obsidian/core-plugins-migration.json
  .obsidian/core-plugins.json
  .obsidian/graph.json
  .obsidian/hotkeys.json
  .obsidian/plugins/obsidian-languagetool-plugin/data.json
  .obsidian/plugins/obsidian-languagetool-plugin/main.js
  .obsidian/plugins/obsidian-languagetool-plugin/manifest.json
  .obsidian/plugins/obsidian-languagetool-plugin/styles.css
  .obsidian/plugins/obsidian-linter/data.json
  .obsidian/plugins/obsidian-linter/main.js
  .obsidian/plugins/obsidian-linter/manifest.json
  .obsidian/plugins/obsidian-linter/styles.css
  .obsidian/plugins/surfing/data.json
  .obsidian/plugins/surfing/main.js
  .obsidian/plugins/surfing/manifest.json
  .obsidian/plugins/surfing/styles.css
  .obsidian/plugins/templater-obsidian/main.js
  .obsidian/plugins/templater-obsidian/manifest.json
  .obsidian/plugins/templater-obsidian/styles.css
  .obsidian/surfing-bookmark.json
  .obsidian/themes/Obsidian Nord/manifest.json
  .obsidian/themes/Obsidian Nord/theme.css
  .obsidian/workspace.json
Due: none

Fix: READEM.md links
  README.md
  docs/404.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/tags/v0.1.0/index.html
  docs/blog/tags/v0.2.0/index.html
  docs/blog/tags/v0.4.0/index.html
  docs/blog/v010-initial-release/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/dev/backlog/index.html
  docs/dev/changelog/index.html
  docs/dev/development/index.html
  docs/how-to-publish/first_steps/index.html
  docs/index-0/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/installation/index.html
  docs/setup/setting-up-a-blog/index.html
  docs/setup/setting-up-a-minifier/index.html
  docs/setup/setting-up-auto-nav/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/04_blog/v040.md
Due: none

Fix: READEM.md links (#12)
  README.md
  docs/404.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/tags/v0.1.0/index.html
  docs/blog/tags/v0.2.0/index.html
  docs/blog/tags/v0.4.0/index.html
  docs/blog/v010-initial-release/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/dev/backlog/index.html
  docs/dev/changelog/index.html
  docs/dev/development/index.html
  docs/how-to-publish/first_steps/index.html
  docs/index-0/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/installation/index.html
  docs/setup/setting-up-a-blog/index.html
  docs/setup/setting-up-a-minifier/index.html
  docs/setup/setting-up-auto-nav/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/04_blog/v040.md
Due: none

Fix for imports, links in docks and badges
  README.md
  docs/404.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/tags/v0.1.0/index.html
  docs/blog/tags/v0.2.0/index.html
  docs/blog/tags/v0.3.0/index.html
  docs/blog/tags/v0.4.0/index.html
  docs/blog/v010-initial-release/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/dev/backlog/index.html
  docs/dev/changelog/index.html
  docs/dev/development/index.html
  docs/how-to-publish/first_steps/index.html
  docs/index-0/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/installation/index.html
  docs/setup/setting-up-a-blog/index.html
  docs/setup/setting-up-a-minifier/index.html
  docs/setup/setting-up-auto-nav/index.html
  docs/sitemap.xml.gz
  documentation/04_blog/v040.md
  documentation/index.md
  mkdocs.yml
  mkdocs_publisher/auto_nav/plugin.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/modifiers.py
  mkdocs_publisher/blog/parsers.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/blog/structures.py
  mkdocs_publisher/blog/translate.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/minifier/plugin.py
  pyproject.toml
Due: lint-yaml, format, lint-python, sort-imports, type-check

Fixes: imports, links, badges
  README.md
  docs/404.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/tags/v0.1.0/index.html
  docs/blog/tags/v0.2.0/index.html
  docs/blog/tags/v0.3.0/index.html
  docs/blog/tags/v0.4.1/index.html
  docs/blog/v010-initial-release/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/blog/v041/index.html
  docs/dev/backlog/index.html
  docs/dev/changelog/index.html
  docs/dev/development/index.html
  docs/how-to-publish/first_steps/index.html
  docs/index-0/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/installation/index.html
  docs/setup/setting-up-a-blog/index.html
  docs/setup/setting-up-a-minifier/index.html
  docs/setup/setting-up-auto-nav/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/04_blog/v041.md
  documentation/05_dev/08_development.md
  documentation/index.md
  mkdocs_publisher/auto_nav/plugin.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/blog/structures.py
  mkdocs_publisher/minifier/minifiers.py
Due: format, lint-python, sort-imports, type-check

Fix: package version udpate
  pyproject.toml
Due: none

Fix: project version update (#15)
  pyproject.toml
Due: none

Fix: README.md and changelog update
  README.md
  docs/dev/changelog/index.html
  docs/search/search_index.json
  docs/sitemap.xml.gz
  documentation/05_dev/09_changelog.md
Due: none

Fix: README.md and changelog update (#16)
  README.md
  docs/dev/changelog/index.html
  docs/search/search_index.json
  docs/sitemap.xml.gz
  documentation/05_dev/09_changelog.md
Due: none

Add: obsidian plugin
  docs/404.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/tags/v0.1.0/index.html
  docs/blog/tags/v0.2.0/index.html
  docs/blog/tags/v0.3.0/index.html
  docs/blog/tags/v0.4.0/index.html
  docs/blog/tags/v0.4.1/index.html
  docs/blog/tags/v0.5.0/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/blog/v041/index.html
  docs/blog/v050/index.html
  docs/dev/backlog/index.html
  docs/dev/changelog/index.html
  docs/dev/development/index.html
  docs/dev/versioning/index.html
  docs/how-to-publish/first_steps/index.html
  docs/index-0/index.html
  docs/index-1/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/installation/index.html
  docs/setup/setting-up-a-blog/index.html
  docs/setup/setting-up-a-minifier/index.html
  docs/setup/setting-up-a-social-cards/index.html
  docs/setup/setting-up-auto-nav/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  docs/test/index.html
  documentation/test.md
  mkdocs.yml
  mkdocs_publisher/obsidian/config.py
  mkdocs_publisher/obsidian/plugin.py
  pyproject.toml
Due: lint-yaml, format, lint-python, sort-imports, type-check

Fix: vega js libraries injection per page containing charts
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/tags/v0.1.0/index.html
  docs/blog/tags/v0.2.0/index.html
  docs/blog/tags/v0.3.0/index.html
  docs/blog/tags/v0.4.0/index.html
  docs/blog/tags/v0.4.1/index.html
  docs/blog/tags/v0.5.0/index.html
  docs/blog/tags/v0.6.0/index.html
  docs/blog/v010-initial-release/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/blog/v041/index.html
  docs/blog/v050/index.html
  docs/blog/v060/index.html
  docs/dev/backlog/index.html
  docs/dev/changelog/index.html
  docs/dev/development/index.html
  docs/dev/versioning/index.html
  docs/how-to-publish/first_steps/index.html
  docs/index-0/index.html
  docs/index-1/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/05-setting-up-obsidian/index.html
  docs/setup/installation/index.html
  docs/setup/setting-up-a-blog/index.html
  docs/setup/setting-up-a-minifier/index.html
  docs/setup/setting-up-a-social-cards/index.html
  docs/setup/setting-up-auto-nav/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  documentation/.obsidian/workspace.json
  documentation/04_blog/v060-obsidian.md
  documentation/index.md
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher/obsidian/vega.py
Due: format, lint-python, sort-imports, type-check

Fix: blog posts creation and removed auto-nav
  docs/blog/1/index.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/index.html
  docs/blog/tags/v020/index.html
  docs/blog/v010/index.html
  docs/blog/v020/index.html
  docs/search/search_index.json
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/.obsidian/workspace.json
  documentation/04_blog/v020.md
  mkdocs_publisher/_cli/_utils.py
  mkdocs_publisher/auto_nav/config.py
  mkdocs_publisher/auto_nav/plugin.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/modifiers.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/meta/plugin.py
Due: format, lint-python, sort-imports, type-check

Fix for og:image url
  docs/blog/v060/index.html
  docs/search/search_index.json
  docs/setup/pub-minifier/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/.obsidian/workspace.json
  documentation/02_setup/06_setting-up-minifier.md
  mkdocs_publisher/social/plugin.py
Due: format, lint-python, sort-imports, type-check

Small updates in configs
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher/social/config.py
Due: format, lint-python, sort-imports, type-check
