Repository mkdocs-publisher/mkdocs-publisher: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, format, sort-imports, lint-python, type-check

lint-yaml:
  name: lint YAML files
  description: Format and check YAML files.
  entry: poetry run yamllint
  language: system

format:
  name: format Python code
  description: Pre-format python code.
  entry: poetry run black --quiet
  language: system

sort-imports:
  name: sort Python imports
  description: Sort python imports.
  entry: poetry run isort --quiet
  language: system

lint-python:
  name: lint Python
  description: Lint python code.
  entry: poetry run ruff check
  language: system

type-check:
  name: type check Python annotations
  description: Pyright type annotation checking.
  entry: poetry run pyright
  language: system

Documentation updates for v1.1.1
  .github/workflows/deploy-pages.yml
  02_setup/02_general/01_setting-up-meta.md.md
  mkdocs.yml
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher_docs/.obsidian/page-preview.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/02_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/02_setup/02_general/02_setting-up-blog.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/02_setting-up-minifier.md
  mkdocs_publisher_docs/04_blog/v040-minifier-and-autonav.md
  mkdocs_publisher_docs/04_blog/v050-social.md
  mkdocs_publisher_docs/04_blog/v100-obsidian.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/05_dev/other/01_credits.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  mkdocs_publisher_docs/_templates/_post.md
  overrides/assets/javascript/mathjax.js
Due: lint-yaml, format, sort-imports, lint-python, type-check

Unification of changelog icons
  .pub_min_cache/.cached_files_list.yml
  README.md
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/04_blog/v010-initial-release.md
  mkdocs_publisher_docs/04_blog/v020.md
  mkdocs_publisher_docs/04_blog/v040-minifier-and-autonav.md
  mkdocs_publisher_docs/04_blog/v041.md
  mkdocs_publisher_docs/04_blog/v050-social.md
  mkdocs_publisher_docs/04_blog/v100-obsidian.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/README.md
  mkdocs_publisher_docs/_templates/_changelog.md
  mkdocs_publisher_docs/_templates/_post.md
Due: lint-yaml

Remove .pub_min_cache
  .gitignore
  .pub_min_cache/.cached_files_list.yml
Due: lint-yaml

Blog entry v1.1.1 small edit
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
Due: none

mkdocs build fix
  02_setup/02_general/01_setting-up-meta.md.md
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/02_setup/01_installation.md
  mkdocs_publisher_docs/02_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/02_setup/02_general/02_setting-up-blog.md
  mkdocs_publisher_docs/02_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/01_setting-up-social-cards.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/02_setting-up-minifier.md
  mkdocs_publisher_docs/02_setup/99_development/01_setting-up-debugger.md
  mkdocs_publisher_docs/04_blog/v010-initial-release.md
  mkdocs_publisher_docs/04_blog/v020.md
  mkdocs_publisher_docs/04_blog/v030.md
  mkdocs_publisher_docs/04_blog/v040-minifier-and-autonav.md
  mkdocs_publisher_docs/04_blog/v041.md
  mkdocs_publisher_docs/04_blog/v050-social.md
  mkdocs_publisher_docs/04_blog/v100-obsidian.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/05_dev/02_development.md
  mkdocs_publisher_docs/05_dev/03_versioning.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  poetry.lock
Due: format, sort-imports, lint-python, type-check

mkdocs build fix (#40)
  02_setup/02_general/01_setting-up-meta.md.md
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/02_setup/01_installation.md
  mkdocs_publisher_docs/02_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/02_setup/02_general/02_setting-up-blog.md
  mkdocs_publisher_docs/02_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/01_setting-up-social-cards.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/02_setting-up-minifier.md
  mkdocs_publisher_docs/02_setup/99_development/01_setting-up-debugger.md
  mkdocs_publisher_docs/04_blog/v010-initial-release.md
  mkdocs_publisher_docs/04_blog/v020.md
  mkdocs_publisher_docs/04_blog/v030.md
  mkdocs_publisher_docs/04_blog/v040-minifier-and-autonav.md
  mkdocs_publisher_docs/04_blog/v041.md
  mkdocs_publisher_docs/04_blog/v050-social.md
  mkdocs_publisher_docs/04_blog/v100-obsidian.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/05_dev/02_development.md
  mkdocs_publisher_docs/05_dev/03_versioning.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  poetry.lock
Due: format, sort-imports, lint-python, type-check

Page deploy action fix
  .github/workflows/deploy-pages.yml
Due: lint-yaml

Page deploy action fix (#41)
  .github/workflows/deploy-pages.yml
Due: lint-yaml

v1.1.1 docs update
  .gitignore
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
Due: none

v1.1.1 docs update (#42)
  .gitignore
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
Due: none

Add: minifier cache & files exclude. Fix: obsidian comments
  .github/workflows/deploy-pages.yml
  .gitignore
  README.md
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher/minifier/minifiers.py
  mkdocs_publisher/obsidian/config.py
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/data.json
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/main.js
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/styles.css
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/styles.min.css
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/styles.min.css.map
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/02_setting-up-minifier.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
  mkdocs_publisher_docs/05_dev/03_versioning.md
  mkdocs_publisher_docs/README.md
Due: lint-yaml, format, sort-imports, lint-python, type-check

Add: issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/future.yml
Due: lint-yaml

Add: issue templates (#43)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/future.yml
Due: lint-yaml

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: lint-yaml

Create config.yml (#44)
  .github/ISSUE_TEMPLATE/config.yml
Due: lint-yaml

Issue templates fixes and small edits
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/future.yml
Due: lint-yaml

Small fixes and edits
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/future.yml
Due: lint-yaml

Description edit
  .github/ISSUE_TEMPLATE/docs.yml
Due: lint-yaml

Description edit (again)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/future.yml
Due: lint-yaml

Issue template fix (#45)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/future.yml
Due: lint-yaml

Templates update
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Fix for dropdown
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Fix for feature description issue
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Remove default value
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Readd default value for dropdown
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Another issue template update
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Wikilinks fix for space in file name
  mkdocs.yml
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/obsidian/config.py
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher_docs/02_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/05_dev/other/01_credits.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  tests/_shared/links_test.py
  tests/obsidian/md_links_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Minifier common config added + base.py refactor
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher/minifier/minifiers.py
  mkdocs_publisher_docs/.obsidian/appearance.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/02_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
Due: format, sort-imports, lint-python, type-check

Minifier config refactor
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher/minifier/minifiers.py
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/02_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/02_setting-up-minifier.md
  mkdocs_publisher_docs/04_blog/v120-minifier-cache-and-exclude.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  mkdocs_publisher_docs/_templates/_changelog.md
  package-lock.json
  package.json
  pyproject.toml
Due: format, sort-imports, lint-python, type-check

v1.2.0 (#47)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/deploy-pages.yml
  .gitignore
  README.md
  mkdocs.yml
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher/minifier/minifiers.py
  mkdocs_publisher/obsidian/config.py
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher_docs/.obsidian/appearance.json
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/data.json
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/main.js
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/styles.css
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/styles.min.css
  mkdocs_publisher_docs/.obsidian/plugins/callout-manager/styles.min.css.map
  mkdocs_publisher_docs/02_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/02_setting-up-minifier.md
  mkdocs_publisher_docs/04_blog/v111-wikilinks.md
  mkdocs_publisher_docs/04_blog/v120-minifier-cache-and-exclude.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/05_dev/03_versioning.md
  mkdocs_publisher_docs/05_dev/other/01_credits.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  mkdocs_publisher_docs/README.md
  mkdocs_publisher_docs/_templates/_changelog.md
  package-lock.json
  package.json
  pyproject.toml
  tests/_shared/links_test.py
  tests/obsidian/md_links_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Log level fix
  mkdocs_publisher/minifier/base.py
Due: format, sort-imports, lint-python, type-check

Log level fix (#57)
  mkdocs_publisher/minifier/base.py
Due: format, sort-imports, lint-python, type-check

Issue templates update
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Remove title
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

Remove 'all' option from python and system version
  .github/ISSUE_TEMPLATE/bug.yml
Due: lint-yaml

Issue templates update (#58)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: lint-yaml

v1.2.0 blog post update
  mkdocs.yml
  mkdocs_publisher_docs/04_blog/v120-minifier-cache-and-exclude.md
Due: lint-yaml

v1.2.0 blog post update (#59)
  mkdocs.yml
  mkdocs_publisher_docs/04_blog/v120-minifier-cache-and-exclude.md
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yml|yaml)$
  format: any of: \.py$
  sort-imports: any of: \.py$
  lint-python: any of: \.py$
  type-check: any of: \.py$
