Repository mkdocs-publisher/mkdocs-publisher: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, format, lint-python, sort-imports, type-check

.pre-commit-config.yaml:

repos:
#  - repo: local
#    hooks:
#      - id: process-css
#        name: .min.css and .min.css.map files generation
#        description: Generate CSS min and map files.
#        entry: postcss
#        args: ['-m', '-u', 'cssnano', 'postcss-svgo',
#               '--ext', '.min.css', '--dir', '.', '--base', '.']
#        language: system
#        files: (?<!\.min)\.css$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: detect-private-key
      - id: no-commit-to-branch

  - repo: local
    hooks:
      - id: lint-yaml
        name: lint YAML files
        description: Format and check YAML files.
        entry: poetry run yamllint
        language: system
        files: \.(yml|yaml)$

      - id: format
        name: format Python code
        description: Pre-format python code.
        entry: poetry run black
        language: system
        types:
          - python

      - id: lint-python
        name: lint Python
        description: Lint python code.
        entry: poetry run flake8
        language: system
        types:
          - python

      - id: sort-imports
        name: sort Python imports
        description: Sort python imports.
        entry: poetry run isort
        language: system
        types:
          - python

      - id: type-check
        name: type check Python annotations
        description: Pyright type annotation checking.
        entry: poetry run pyright
        language: system
        types:
          - python

Documentation rebuild
  docs/development/changelog/index.html
  docs/search/search_index.json
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/.obsidian/workspace.json
  documentation/05_dev/01_changelog.md
Due: none

v1.0.0fix (#21)
  docs/development/changelog/index.html
  docs/search/search_index.json
  docs/sitemap.xml
  docs/sitemap.xml.gz
  documentation/.obsidian/workspace.json
  documentation/05_dev/01_changelog.md
Due: none

Small updates
  README.md
  docs/_attachments/debugger_console_example.png
  docs/blog/v110/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  mkdocs.yml
  mkdocs_publisher/blog/translate.py
  mkdocs_publisher_docs/.obsidian/app.json
  mkdocs_publisher_docs/.obsidian/canvas.json
  mkdocs_publisher_docs/.obsidian/note-composer.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-charts/main.js
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-charts/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/02_setup/99_development/01_setting-up-debugger.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/_attachments/debugger_console_example.png
Due: lint-yaml, format, lint-python, sort-imports, type-check

Importlib deprecation removal
  docs/sitemap.xml.gz
  mkdocs_publisher/_shared/resources.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/obsidian/plugin.py
Due: format, lint-python, sort-imports, type-check

Debugger documentation added
  docs/blog/v110/index.html
  docs/development/changelog/index.html
  docs/development/other/backlog/index.html
  docs/search/search_index.json
  docs/setup/general/pub-blog/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  mkdocs.yml
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/.obsidian/plugins/surfing/data.json
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/02_setup/02_general/02_setting-up-blog.md
  mkdocs_publisher_docs/02_setup/99_development/01_setting-up-debugger.md
  mkdocs_publisher_docs/04_blog/v110-debugger.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  mkdocs_publisher_docs/README.md
  pyproject.toml
Due: lint-yaml

Small documentation updates
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/index.html
  docs/blog/tags/v1x/index.html
  docs/blog/v100/index.html
  docs/search/search_index.json
  docs/sitemap.xml.gz
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/04_blog/v100-obsidian.md
  mkdocs_publisher_docs/README.md
Due: none

Another small documentation update
  README.md
  docs/sitemap.xml.gz
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/README.md
Due: none

Home page and debugger documentation publication status update
  docs/404.html
  docs/blog/1/index.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/index.html
  docs/blog/tags/v0x/index.html
  docs/blog/tags/v1x/index.html
  docs/blog/v010/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/blog/v041/index.html
  docs/blog/v050/index.html
  docs/blog/v100/index.html
  docs/blog/v110/index.html
  docs/development/changelog/index.html
  docs/development/development/index.html
  docs/development/other/backlog/index.html
  docs/development/versioning/index.html
  docs/how-to-publish/first-steps/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/development/pub-debugger/index.html
  docs/setup/general/pub-blog/index.html
  docs/setup/general/pub-meta/index.html
  docs/setup/installation/index.html
  docs/setup/seo-and-sharing/pub-minifier/index.html
  docs/setup/seo-and-sharing/pub-social/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/02_setup/99_development/01_setting-up-debugger.md
Due: none

Home page and debugger documentation publication status update (#26)
  docs/404.html
  docs/blog/1/index.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/index.html
  docs/blog/tags/v0x/index.html
  docs/blog/tags/v1x/index.html
  docs/blog/v010/index.html
  docs/blog/v020/index.html
  docs/blog/v030/index.html
  docs/blog/v040/index.html
  docs/blog/v041/index.html
  docs/blog/v050/index.html
  docs/blog/v100/index.html
  docs/blog/v110/index.html
  docs/development/changelog/index.html
  docs/development/development/index.html
  docs/development/other/backlog/index.html
  docs/development/versioning/index.html
  docs/how-to-publish/first-steps/index.html
  docs/index.html
  docs/search/search_index.json
  docs/setup/development/pub-debugger/index.html
  docs/setup/general/pub-blog/index.html
  docs/setup/general/pub-meta/index.html
  docs/setup/installation/index.html
  docs/setup/seo-and-sharing/pub-minifier/index.html
  docs/setup/seo-and-sharing/pub-social/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/02_setup/99_development/01_setting-up-debugger.md
Due: none

v1.1.0 blog post publication
  docs/blog/1/index.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/index.html
  docs/blog/tags/v1x/index.html
  docs/blog/v100/index.html
  docs/blog/v110/index.html
  docs/search/search_index.json
  docs/setup/development/pub-debugger/index.html
  docs/sitemap.xml.gz
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/04_blog/v110-debugger.md
Due: none

v1.1.0 blog post publication (#27)
  docs/blog/1/index.html
  docs/blog/archive/2023/index.html
  docs/blog/categories/release/index.html
  docs/blog/index.html
  docs/blog/tags/v1x/index.html
  docs/blog/v100/index.html
  docs/blog/v110/index.html
  docs/search/search_index.json
  docs/setup/development/pub-debugger/index.html
  docs/sitemap.xml.gz
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/04_blog/v110-debugger.md
Due: none

HTML files license added
  .pre-commit-config.yaml
  mkdocs_publisher/_extra/assets/templates/backlinks.html
  mkdocs_publisher/_extra/assets/templates/posts-list.html
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/02_setup/02_general/01_setting-up-meta.md
Due: lint-yaml

Add tests and coverage generation
  .gitignore
  .pre-commit-config.yaml
  docs/assets/stylesheets/blog.min.css
  docs/assets/stylesheets/blog.min.css.map
  docs/assets/stylesheets/obsidian.min.css
  docs/assets/stylesheets/obsidian.min.css.map
  docs/sitemap.xml.gz
  mkdocs_publisher/_extra/__init__.py
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/_shared/resources.py
  poetry.lock
  pyproject.toml
  tests/_shared/resources_test.py
Due: lint-yaml, format, lint-python, sort-imports, type-check

Small update of docs
  docs/sitemap.xml
  docs/sitemap.xml.gz
Due: none

Move links to shared library
  .gitignore
  docs/blog/v110/index.html
  docs/development/changelog/index.html
  docs/search/search_index.json
  docs/setup/development/pub-debugger/index.html
  docs/setup/general/pub-blog/index.html
  docs/setup/installation/index.html
  docs/setup/seo-and-sharing/pub-minifier/index.html
  docs/setup/seo-and-sharing/pub-social/index.html
  docs/sitemap.xml
  docs/sitemap.xml.gz
  mkdocs.yml
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/minifier/plugin.py
  mkdocs_publisher/obsidian/backlinks.py
  mkdocs_publisher/obsidian/md_links.py
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  pyproject.toml
  tests/_shared/conftest.py
  tests/_shared/links_test.py
  tests/_tests_data/current/cur_sub/cur_sub_file.md
  tests/_tests_data/current/cur_sub/other_rel_file.md
  tests/_tests_data/current/file.md
  tests/_tests_data/main.md
  tests/_tests_data/relative/other_rel_file.md
  tests/_tests_data/relative/rel_file.md
  tests/_tests_data/relative/rel_sub/index-0.md
  tests/_tests_data/relative/rel_sub/rel_sub_file.md
  tests/conftest.py
  tests/obsidian/md_links_test.py
Due: lint-yaml, format, lint-python, sort-imports, type-check

Fix: start debugger on mkdocs start to catch all config warnings
  docs/sitemap.xml
  docs/sitemap.xml.gz
  mkdocs.yml
  mkdocs_publisher/_shared/mkdocs_utils.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/debugger/plugin.py
  mkdocs_publisher/obsidian/backlinks.py
  mkdocs_publisher/obsidian/plugin.py
Due: lint-yaml, format, lint-python, sort-imports, type-check

Rollback site_url setup in blog creators
  mkdocs_publisher/blog/creators.py
Due: format, lint-python, sort-imports, type-check

Fix for wikilinks without text
  mkdocs_publisher/_shared/links.py
  tests/obsidian/md_links_test.py
Due: format, lint-python, sort-imports, type-check

Small update of the tests
  docs/sitemap.xml.gz
  tests/conftest.py
  tests/obsidian/md_links_test.py
Due: format, lint-python, sort-imports, type-check

Create deploy workflow
  .coverage
  .github/workflows/deploy-pages.yml
  .pre-commit-config.yaml
  mkdocs_publisher_docs/.obsidian/workspace.json
  sandbox.py
Due: lint-yaml, format, lint-python, sort-imports, type-check

Remove sandbox.py
  sandbox.py
Due: format, lint-python, sort-imports, type-check

yamllint ignore single line in workflow
  .github/workflows/deploy-pages.yml
  .pre-commit-config.yaml
Due: lint-yaml

Create deploy workflow (#32)
  .coverage
  .github/workflows/deploy-pages.yml
  mkdocs_publisher_docs/.obsidian/workspace.json
Due: lint-yaml

Add file package.json
  package.json
  pyproject.toml
Due: none

Add file package.json (#33)
  package.json
  pyproject.toml
Due: none

Add command to create Node.js lock file
  .github/workflows/deploy-pages.yml
Due: lint-yaml

Add command to create Node.js lock file (#34)
  .github/workflows/deploy-pages.yml
Due: lint-yaml

Add Node.js lock file
  .github/workflows/deploy-pages.yml
  package-lock.json
Due: lint-yaml

Add Node.js lock file (#35)
  .github/workflows/deploy-pages.yml
  package-lock.json
Due: lint-yaml

Small documentation updates + code refactor in meta plugin
  mkdocs.yml
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/data.json
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/main.js
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/styles.css
  mkdocs_publisher_docs/.obsidian/workspace.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/02_setup/01_installation.md
  mkdocs_publisher_docs/02_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/02_setup/02_general/02_setting-up-blog.md
  mkdocs_publisher_docs/02_setup/02_general/03_setting-up-obsidian.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/01_setting-up-social-cards.md
  mkdocs_publisher_docs/02_setup/03_seo_and_sharing/02_setting-up-minifier.md
  mkdocs_publisher_docs/02_setup/99_development/01_setting-up-debugger.md
  mkdocs_publisher_docs/04_blog/v100-obsidian.md
  mkdocs_publisher_docs/05_dev/01_changelog.md
  mkdocs_publisher_docs/05_dev/02_development.md
  mkdocs_publisher_docs/05_dev/03_versioning.md
  mkdocs_publisher_docs/05_dev/other/01_credits.md
  mkdocs_publisher_docs/05_dev/other/02_backlog.md
  mkdocs_publisher_docs/_templates/_changelog.md
  mkdocs_publisher_docs/_templates/_option.md
  poetry.lock
  pyproject.toml
Due: lint-yaml, format, lint-python, sort-imports, type-check

Pre-commit update to check README.md
  .pre-commit-config.yaml
Due: lint-yaml

Pre-commit update to check README.md - small update
  .pre-commit-config.yaml
Due: lint-yaml
