Repository mkdocs-publisher/mkdocs-publisher: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, format, sort-imports, lint-python, type-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        name: insert project license into Python files
        files: ^(mkdocs_publisher|tests)/
        types: [file, text, python]
        args:
          - --license-filepath
          - LICENSE
          - --use-current-year
          - --allow-past-years
      - id: insert-license
        name: insert project license into HTML files
        files: ^mkdocs_publisher/
        types: [file, text, html]
        args:
          - --license-filepath
          - LICENSE
          - --comment-style
          - <!--|  ~|  -->
          - --use-current-year
          - --allow-past-years
      - id: insert-license
        name: insert project license into CSS files
        files: ^mkdocs_publisher/
        exclude: \.min.css$
        types: [file, text, css]
        args:
          - --license-filepath
          - LICENSE
          - --comment-style
          - /*| *| */
          - --use-current-year
          - --allow-past-years
      - id: insert-license
        name: insert project license into JS files
        files: ^mkdocs_publisher/
        exclude: \.min.js$
        types: [file, text, javascript]
        args:
          - --license-filepath
          - LICENSE
          - --comment-style
          - //
          - --use-current-year
          - --allow-past-years

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^(docs|mkdocs_publisher_docs/.obsidian)/
      - id: trailing-whitespace
        exclude: ^(docs|mkdocs_publisher_docs/.obsidian)/
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-json
      - id: check-toml
      - id: detect-private-key
      - id: no-commit-to-branch
      - id: name-tests-test
        files: ^tests/
        exclude: \.md$

  - repo: local
    hooks:
      - id: check-readme-md
        name: check if README.md is updated
        description: Copy README.md file from documentation
        entry: bash -c "cmp --silent mkdocs_publisher_docs/README.md README.md || cp mkdocs_publisher_docs/README.md README.md"
        language: system
        pass_filenames: false

      - id: lint-yaml
        name: lint YAML files
        description: Format and check YAML files.
        entry: poetry run yamllint
        language: system
        files: \.(yml|yaml)$

      - id: format
        name: format Python code
        description: Pre-format python code.
        entry: poetry run black --quiet
        language: system
        types:
          - python

      - id: sort-imports
        name: sort Python imports
        description: Sort python imports.
        entry: poetry run isort --quiet
        language: system
        types:
          - python

      - id: lint-python
        name: lint Python
        description: Lint python code.
        entry: poetry run ruff check
        language: system
        types:
          - python

      - id: type-check
        name: type check Python annotations
        description: Pyright type annotation checking.
        entry: poetry run pyright
        language: system
        types:
          - python

      - id: pytest-check
        name: run unittests
        entry: poetry run pytest
        language: system
        pass_filenames: false
        always_run: true

Pre-commit fix
  mkdocs_publisher/_extra/assets/stylesheets/blog.min.css
  mkdocs_publisher/_extra/assets/stylesheets/blog.min.css.map
  mkdocs_publisher/_extra/assets/stylesheets/obsidian.css
  mkdocs_publisher/_extra/assets/stylesheets/obsidian.min.css
  mkdocs_publisher/_extra/assets/stylesheets/obsidian.min.css.map
  mkdocs_publisher_docs/01_home.md
Due: none

Lib udpates and add site name to title in social plugin
  .pre-commit-config.yaml
  cov.json
  mkdocs_publisher/_extra/assets/stylesheets/obsidian.css
  mkdocs_publisher/_extra/assets/stylesheets/obsidian.min.css
  mkdocs_publisher/_extra/assets/stylesheets/obsidian.min.css.map
  mkdocs_publisher/blog/translate.py
  mkdocs_publisher/meta/config.py
  mkdocs_publisher/social/config.py
  mkdocs_publisher/social/plugin.py
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/main.js
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-linter/styles.css
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
  mkdocs_publisher_docs/.obsidian/plugins/surfing/main.js
  mkdocs_publisher_docs/.obsidian/plugins/surfing/manifest.json
  mkdocs_publisher_docs/.obsidian/plugins/surfing/styles.css
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/main.js
  mkdocs_publisher_docs/.obsidian/plugins/templater-obsidian/manifest.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
  mkdocs_publisher_docs/07_dev/other/01_credits.md
  overrides/assets/stylesheets/publisher.css
  poetry.lock
  pyproject.toml
Due: lint-yaml, format, sort-imports, lint-python, type-check

Overview and sub hidden files fixes
  .pre-commit-config.yaml
  cov.json
  mkdocs.yml
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/social/config.py
  mkdocs_publisher/social/plugin.py
  mkdocs_publisher_docs/.obsidian/community-plugins.json
  mkdocs_publisher_docs/.obsidian/hotkeys.json
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-footnotes/main.js
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-footnotes/manifest.json
  mkdocs_publisher_docs/01_home.md
  mkdocs_publisher_docs/02_start/README.md
  mkdocs_publisher_docs/03_setup/02_general/01_setting-up-meta.md
  mkdocs_publisher_docs/03_setup/03_seo_and_sharing/01_setting-up-social-cards.md
  mkdocs_publisher_docs/04_insiders/README.md
  mkdocs_publisher_docs/04_reference/README.md
  mkdocs_publisher_docs/07_dev/01_changelog.md
  mkdocs_publisher_docs/07_dev/other/02_backlog.md
  overrides/assets/stylesheets/publisher.css
  overrides/main.html
  poetry.lock
  tests/meta/meta_files_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Blog post about v1.4.0
  cov.json
  mkdocs.yml
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher_docs/04_insiders/README.md
  mkdocs_publisher_docs/06_blog/v140-redirects.md
  overrides/assets/javascripts/mathjax.js
Due: lint-yaml, format, sort-imports, lint-python, type-check

HTML minifier for deploy pages fix
  .github/workflows/deploy-pages.yml
  .github/workflows/release.yaml
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
Due: lint-yaml

HTML minifier for deploy pages fix (#86)
  .github/workflows/deploy-pages.yml
  .github/workflows/release.yaml
  mkdocs_publisher_docs/.obsidian/plugins/obsidian-mindmap-nextgen/data.json
Due: lint-yaml

README.md documentation links update
  README.md
Due: none

README.md documentation links update (#88)
  README.md
Due: none

Add FUNDING.yml
  .github/FUNDING.yml
Due: lint-yaml

Add FUNDING.yml (#89)
  .github/FUNDING.yml
Due: lint-yaml

New blog plugin implementation started
  cov.json
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/_shared/mkdocs_utils.py
  mkdocs_publisher/_shared/publisher_utils.py
  mkdocs_publisher/blog/blog_files.py
  mkdocs_publisher/blog/config.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/debugger/plugin.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/plugin.py
  mkdocs_publisher/obsidian/md_links.py
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher/social/plugin.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/_shared/links_test.py
  tests/meta/conftest.py
  tests/meta/meta_files_test.py
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Bump libs and mkdcos version to 1.6.0
  cov.json
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/obsidian/plugin.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/meta/meta_files_test.py
Due: format, sort-imports, lint-python, type-check

Bump libs and mkdocs version to 1.6.0 (#91)
  cov.json
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/obsidian/plugin.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/meta/meta_files_test.py
Due: format, sort-imports, lint-python, type-check

Libs bump and some code refactor around meta plugin
  .gitignore
  .pre-commit-config.yaml
  README.md
  cov.json
  mkdocs_publisher/_shared/html_modifiers.py
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/blog/blog_files.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/social/plugin.py
  poetry.lock
  pyproject.toml
Due: lint-yaml, format, sort-imports, lint-python, type-check

Fix for additional link spaces and blog slug
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  cov.json
  mkdocs_publisher/_shared/html_modifiers.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/meta/meta_files.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Skip check-readme-md in pull-request workflow
  .github/workflows/pull-request.yaml
Due: lint-yaml

Fix for additional link spaces and blog slug (#94)
  .github/workflows/pull-request.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  cov.json
  mkdocs_publisher/_shared/html_modifiers.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/meta/meta_files.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

README.md badges fix
  README.md
Due: none

README.md badges fix (#95)
  README.md
Due: none

Project version and some libs bump
  package.json
  poetry.lock
  pyproject.toml
Due: none

Project version and some libs bump (#96)
  package.json
  poetry.lock
  pyproject.toml
Due: none

Remove log.critical and .vscode
  .gitignore
  .vscode/settings.json
  cov.json
  mkdocs_publisher/blog/creators.py
Due: format, sort-imports, lint-python, type-check

Remove log.critical and .vscode (#97)
  .gitignore
  .vscode/settings.json
  cov.json
  mkdocs_publisher/blog/creators.py
Due: format, sort-imports, lint-python, type-check

Bump Python to 3.10 and libraries update
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  cov.json
  mkdocs_publisher/_shared/config_enums.py
  mkdocs_publisher/_shared/file_utils.py
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/_shared/mkdocs_utils.py
  mkdocs_publisher/_shared/publisher_utils.py
  mkdocs_publisher/_shared/urls.py
  mkdocs_publisher/blog/blog_files.py
  mkdocs_publisher/blog/config.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/modifiers.py
  mkdocs_publisher/blog/plugin.py
  mkdocs_publisher/blog/structures.py
  mkdocs_publisher/debugger/plugin.py
  mkdocs_publisher/meta/config.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/base.py
  mkdocs_publisher/minifier/minifiers.py
  mkdocs_publisher/obsidian/callouts.py
  mkdocs_publisher/obsidian/md_links.py
  mkdocs_publisher/obsidian/plugin.py
  mkdocs_publisher/obsidian/vega.py
  mkdocs_publisher/social/config.py
  mkdocs_publisher/social/plugin.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/_shared/config_enums_test.py
  tests/_shared/links_test.py
  tests/_shared/mkdocs_utils_test.py
  tests/_shared/urls_test.py
  tests/meta/meta_files_test.py
  tests/obsidian/md_links_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Feat: vscode recommended settings and extensions
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Fix for missing space after link
  .vscode/settings.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/minifier/minifiers.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Fix: space after markdown links and anchor link part
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/minifier/minifiers.py
  poetry.lock
  pyproject.toml
  tests/_shared/links_test.py
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Fix: space after markdown links and anchor link part
  cov.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/minifier/minifiers.py
  pyproject.toml
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Fix: space after markdown links and anchor link part (#104)
  cov.json
  mkdocs_publisher/_shared/links.py
  mkdocs_publisher/minifier/minifiers.py
  pyproject.toml
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check

Update of package-lock.json
  package-lock.json
Due: none

Merge from 1.4.3 with tests refactor
  .pre-commit-config.yaml
  .vscode/settings.json
  cov.json
  mkdocs_publisher/_shared/publisher_utils.py
  mkdocs_publisher/debugger/plugin.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/meta/plugin.py
  mkdocs_publisher/minifier/minifiers.py
  mkdocs_publisher/obsidian/backlinks.py
  mkdocs_publisher/obsidian/plugin.py
  poetry.lock
  pyproject.toml
  tests/_shared/publisher_utils_test.py
  tests/conftest.py
  tests/meta/conftest.py
  tests/meta/meta_files_test.py
Due: lint-yaml, format, sort-imports, lint-python, type-check

Npm update
  package-lock.json
  package.json
Due: none

Add: missing test in meta_files_test.py
  cov.json
  tests/meta/meta_files_test.py
Due: format, sort-imports, lint-python, type-check

Add: test for meta/meta_nav.py
  .vscode/settings.json
  cov.json
  mkdocs_publisher/_cli/publisher.py
  mkdocs_publisher/_shared/mkdocs_utils.py
  mkdocs_publisher/blog/config.py
  mkdocs_publisher/blog/creators.py
  mkdocs_publisher/blog/modifiers.py
  mkdocs_publisher/blog/structures.py
  mkdocs_publisher/debugger/config.py
  mkdocs_publisher/meta/config.py
  mkdocs_publisher/meta/meta_files.py
  mkdocs_publisher/meta/meta_nav.py
  mkdocs_publisher/minifier/config.py
  mkdocs_publisher/obsidian/config.py
  mkdocs_publisher/social/config.py
  tests/meta/conftest.py
  tests/meta/meta_nav_test.py
Due: format, sort-imports, lint-python, type-check

Fix: wikilinks with anchor to the same document
  cov.json
  mkdocs_publisher/_shared/links.py
  tests/obsidian/md_links_test.py
Due: format, sort-imports, lint-python, type-check
